@model DSTeachers.Models.Professor
@{
    ViewData["Title"] = "Pokemon";
}

<div class="container text-white rounded-3" style="background-color: @Model.AudioGenero.Cor;">
    <div class="row">
        <div class="col-lg-4 p-0">
            <img class="img-fluid p-4 cursor-pointer" src="@Model.Foto" alt="@Model.Nome">
        </div>
        <div class="col-lg-8 fs-5 ps-0 pt-3">
            <h1 class="fs-1">@Model.Apelido</h1>
            <h2 class="fs-2">@Model.Nome</h2>
            @* <p class="mb-3"><strong>Descrição:</strong> @Model.Atual.Descricao</p>
            <p class="mb-3"><strong>Gênero:</strong> @Model.Atual.Genero.Nome</p>
            <p class="mb-3"><strong>Região:</strong> @Model.Atual.Regiao.Nome</p>
            <p class="mb-3"><strong>Altura:</strong> @Model.Atual.Altura mts</p> *@
        </div>
    </div>
</div>